name: Deploy to GitHub Pages

on:
  push:
    branches:
      - gopileau-patch-1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.1.0'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: ng build --configuration=production --output-path=docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
